Workstation/Connected Services/WordServiceReference/WordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WordService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/words?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/words?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/words?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordService_GetWordsCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsCount" />
  </wsdl:message>
  <wsdl:message name="IWordService_GetWordsCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsCountResponse" />
  </wsdl:message>
  <wsdl:message name="IWordService_GetWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWord" />
  </wsdl:message>
  <wsdl:message name="IWordService_GetWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordService_InsertWord_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWord" />
  </wsdl:message>
  <wsdl:message name="IWordService_InsertWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordService_UpdateWord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWord" />
  </wsdl:message>
  <wsdl:message name="IWordService_UpdateWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordService_DeleteWord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWord" />
  </wsdl:message>
  <wsdl:message name="IWordService_DeleteWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordService_MoveFromSuggestions_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveFromSuggestions" />
  </wsdl:message>
  <wsdl:message name="IWordService_MoveFromSuggestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveFromSuggestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWordService_GetRandomWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomWord" />
  </wsdl:message>
  <wsdl:message name="IWordService_GetRandomWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomWordResponse" />
  </wsdl:message>
  <wsdl:portType name="IWordService">
    <wsdl:operation name="GetWordsCount">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/GetWordsCount" message="tns:IWordService_GetWordsCount_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/GetWordsCountResponse" message="tns:IWordService_GetWordsCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/GetWord" message="tns:IWordService_GetWord_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/GetWordResponse" message="tns:IWordService_GetWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWord">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/InsertWord" message="tns:IWordService_InsertWord_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/InsertWordResponse" message="tns:IWordService_InsertWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWord">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/UpdateWord" message="tns:IWordService_UpdateWord_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/UpdateWordResponse" message="tns:IWordService_UpdateWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWord">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/DeleteWord" message="tns:IWordService_DeleteWord_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/DeleteWordResponse" message="tns:IWordService_DeleteWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveFromSuggestions">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/MoveFromSuggestions" message="tns:IWordService_MoveFromSuggestions_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/MoveFromSuggestionsResponse" message="tns:IWordService_MoveFromSuggestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomWord">
      <wsdl:input wsam:Action="http://tempuri.org/IWordService/GetRandomWord" message="tns:IWordService_GetRandomWord_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IWordService/GetRandomWordResponse" message="tns:IWordService_GetRandomWord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordService" type="tns:IWordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWordsCount">
      <soap:operation soapAction="http://tempuri.org/IWordService/GetWordsCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <soap:operation soapAction="http://tempuri.org/IWordService/GetWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWord">
      <soap:operation soapAction="http://tempuri.org/IWordService/InsertWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWord">
      <soap:operation soapAction="http://tempuri.org/IWordService/UpdateWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWord">
      <soap:operation soapAction="http://tempuri.org/IWordService/DeleteWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFromSuggestions">
      <soap:operation soapAction="http://tempuri.org/IWordService/MoveFromSuggestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomWord">
      <soap:operation soapAction="http://tempuri.org/IWordService/GetRandomWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordService">
    <wsdl:port name="BasicHttpBinding_IWordService" binding="tns:BasicHttpBinding_IWordService">
      <soap:address location="http://localhost:8080/words/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>